body {
    background-color: white;

}

header,
main,
footer {
    background-color: #E0FFFF;
    border-radius: 20px;

    width: 80%;
    margin: 10px auto;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

header {
    background-color: #151B54;
    color: white;
}

/* 구글 폰트 적용 */
h1 {
    font-family: "Gowun Dodum", sans-serif;
    text-align: center;

}

main {
    
  font-family: "Gowun Batang", serif;
  text-align: center;
}


/* 하이퍼링크 밑줄 삭제 */
.left a {
    text-decoration: none;
    color: black;
}

h2, h3 a {
    text-decoration: none;
    color: black;
  font-family: "Gowun Dodum", sans-serif;
}



footer section {
      flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}


/* h3 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: flex-start;

    padding-right: 40px;
    padding-left: 40px; 
    border-radius: 10px;
    background-color: #394cf7a4;
    font-size: 20px;


    height: 50px;
    line-height: 50px;  /* height와 동일하게 맞추기 !!!해야 글자가 중앙에 옴
    gap: 10px;
} */

/* footer .left {
    margin-right: 70px;
} */

footer .info {
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    gap: 5px;
    /* margin-right: 20px; */
    text-align: right;

}

/* 이미지 크기 조정 */
img {
    align-items: flex-end; 
    margin-left: 20px;
    width: 230px;
    border-radius: 20px;
}

